/* Styles page*/

/* apply a natural box layout model to all elements */

* {

   -moz-box-sizing: border-box;

   -webkit-box-sizing: border-box;

   box-sizing: border-box;

}



/* reset rules */

html, body, div, span, applet, object, iframe,

h1, h2, h3, h4, h5, h6, p, blockquote, pre,

a, abbr, acronym, address, big, cite, code,

del, dfn, em, img, ins, kbd, q, s, samp,

small, strike, strong, sub, sup, tt, var,

b, u, i, center,

dl, dt, dd, ol, ul, li,

fieldset, form, label, legend,

table, caption, tbody, tfoot, thead, tr, th, td,

article, aside, canvas, details, embed, 

figure, figcaption, footer, header, hgroup, 

menu, nav, output, ruby, section, summary,

time, mark, audio, video {

   margin: 0;

   padding: 0;

   border: 0;

   font-size: 100%;

   font: inherit;

   vertical-align: baseline;

}



/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 

footer, header, hgroup, menu, nav, section {

   display: block;

}



body {

   line-height: 1;

   max-width: 640px;

   background: white;

   margin: 0 auto;

   font-family: Arial, Helvetica, sans-serif; 

   -webkit-box-shadow: auto;
   -moz-box-shadow: auto;
   box-shadow:   auto;

}



ol, ul {

   list-style: none;

}



/* page header */

h1 {

   background: #7C0D07;

   width: 100%;

   color: #FFFFFF;

   font-size: 48px;

   text-align: center;

   line-height: 1.5em;

   border-bottom: 1px solid black;
   font-family:'Raleway', sans-serif;

}



/* main content */





h2 {

   font-weight: bold;
   font-size: 36px;
   text-align: center;
    font-family: 'Raleway', sans-serif;

}



h3 {

   font-weight: bold;

   font-size: 24px;

   margin: 20px 0 10px 0;

   font-family: 'Raleway', sans-serif;
   text-align:center;

}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 5px solid #7C0D07;
    margin: 1em 0;
    padding: 0;
}
article {

   width: 640px;
   text-align: left;
   background: ivory;
   padding: 25px;
   font-weight: bold;
   color: black;
   font-family: 'Raleway', sans-serif;
   padding-left: 50px;
   padding-right: 50px;	
   max-width: 1000px;
   height: auto;
   font-size: 24px;
}


li, p {

   margin-bottom: 0.5em;

}

/* navigation */

.ingr, .instr {

   display: none;

}



.header { width: 100%;

        background-color: rgba(0,0,0,.8);

        text-align: center;}



.header ul { text-align: center}



.header ul li { list-style: none;

                display: inline-block}



.header ul li a {display:block;

        color: #fff;

        font-size: 20px;

        font-family: 'Raleway', sans-serif;

        letter-spacing: 2px;

        font-weight: 600;

        text-decoration: none;

        text-transform: uppercase;

        padding: 20px;
    

        transition: all ease 0.5s}



.header ul li a:hover{background-color: black;}
		ul li a:active{text-decoration: none;}
		#currentpage {text-decoration: underline;
					  background-color: black;}
						
			







.table, tr { background-color: rgba(0,0,0,.8);

        margin:auto;

        border-spacing: 10;

        width: 100%;

        border: 1px solid black;

        }





.img { width: 300;

        height: auto;

        }



.mytext {

    width: 300px;

}

/* Form*/
form {
   width: 561px;
   margin:auto;
   
   font-size:24px;
   font-family:'Raleway', sans-serif;
    
    
}

fieldset {
   margin: 10px;
   
   background: ivory;
   position: relative;
   border-radius: 10px;
   text-align: center;
}
fieldset.text, fieldset.checks {
   position: relative;
   padding: 5px 30px 5px 0;
   margin-right: 15px;
}

fieldset.checks textarea {
   margin-left: 21px;
   width: 90%;
   height: 50px;
   
}

legend {
   font-weight: bold;
   font-size: 24px;
   text-align: center;
   text-decoration: underline;
   
   margin-bottom: 0.5em;
}
legend span {
   text-align: center;
}

input, label {
   width: 240px;
   position: relative;
   text-align:absolute;
   line-height: 1.2em;
   display: inline-block;
   width:240px;
}
 input, text {
   position: relative;
   text-align: center;
   line-height: 1.2em;
   display: inline-block;
   font-size: 24px;
 }


fieldset.text label {
   width: 10em;
   text-align: center;
   float: center;
   clear: left;
   margin: 5px 10px 0 0;
   font-weight: bold;
   font-size: 18px;
}

fieldset.text input {
   margin: 7px 5px 0 0;
   text-align: center;
}

fieldset textarea {
    width: 500px;
    height: 250px;
    font-size: 24px;
    text-align: center;
}
select {
   margin: 7px 5px 0 0;
   text-align: left;
}
input[type=submit] {
   margin: 15px auto 0;
   font-size: 16px;
   background: black;
   width: 9em;
   color: ivory;
   float:center;
}

button {
   margin: 15px auto 0;
   font-size: 16px;
   background: black;
   width: 9em;
   color: ivory;
   float:center;
}

p.errorMsg {
   display: none;
   color: red;
   text-align: center;
}
/* footer */
footer {
   width: 100%;
   font-size: 20px;
   padding: 10px;
   clear: both;
   background: black;
   color: #7C0D07;
   
}
footer p { 
	text-align:center;
}

/* links*/
a:link, a:visited {
		text-decoration: underline;
		color: black;
		font-family: 'Raleway, sans-serif;
}

p {
    text-align: center;
    font-size: 16px;
}

fieldset, p{
    font-size: 24px
}